stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_BUILDKIT: 1

# 定义一个作业，使用矩阵策略并行处理多个服务
build-and-push:
  stage: build
  image: docker:latest  # 使用 Docker 的最新版本
  services:
    - docker:dind  # 使用最新的 Docker-in-Docker 服务

  before_script:
    - set -eux
    # 安装 make
    - apk add --no-cache make
    - env
    - pwd
    - ls -la
    - git status
    - cp .env.pro .env
    # 打印 Docker 版本
    - docker --version

    # 启用 Buildx 并使用 docker-container 驱动
    - docker buildx create --use --driver docker-container

  script:
    # 登录 Docker Hub
    - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"

    # 调用每个服务目录下的 Makefile
    - make -C ./${SERVICE_NAME} buildx


  rules:
    - when: manual  # 手动触发流水线
