name: Build and Push Docker - awscli

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    env:
      DOCKER_DRIVER: overlay2
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v5

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
          # image: tonistiigi/binfmt:qemu-v10.0.4-56 # ← 固定版本

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: make .env file
        run: echo "BASIC_ENV=pro" > .env

      - name: Build and Push Service
        run: make -C ./awscli buildx
